/* Imports */
@import './themes/variables';
@import './themes/mixins';
@import './themes/animations';

//* Override
#__next {
  @include expand-content(100%);
  @include display-grid(10% 75% 15%, 100%);
}
//*/

/* Generals */
html, body {
  @include expand-content(100%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Elements */
  // Grid
  .grid {
    &-onlyElement {
      @include expand-content(100%);
      @include display-flex(row, center, space-evenly);   
    }
    &-wrapper {
      @include expand-content(100%);
      max-width: 1200px;
      min-width: 320px;
      @include display-grid(auto, repeat(3, 1fr), 5px);

      @media screen and (min-width: 1201px) {
        @include self-center();
      }
      @media screen and (max-width: 767px) {
        grid-template-columns: repeat(2, 50%) ;
      }
      @media screen and (max-width: 425px) {
        grid-gap: 10px;
      }
    }
  }

  // Card
  .card {
    @include expand-content(95%);
    @include self-center();
    @include display-grid(70% 10% 10% 10%, 100%);

    @media screen and (max-width: 767px) {
      grid-template-rows: 65% 12.5% 12.5% 12.5%;
    }

    &>*{
      @include self-center();
    }
    &-product {
      @include expand-content(100%);
      @include display-grid(85% 15%, 100%);
      max-width: 100%;
      border: 0;
      margin: 0;
      
      &_img {
        @include expand-content(70%, 100%);
        @include self-center();
        display: inline-block;
        max-width: none;
        vertical-align: middle;
      }
      &_caption {
        @include self-center();
        font-weight: 700;
        letter-spacing: 3px;
        font-size: 1rem;

        @media screen and (max-width: 767px) {
          font-size: 0.7rem;
        }
      }
    }
    &-choices {
      @include expand-content(40%, 80%);

      &_variants {// webkit?
        border: 0;
      }
    }
    &-price {
      margin: 0;
      font-weight: 600;
    }
    &-btn {
      @include expand-content(100px, 30px);
      background: #000;
      color: #FFF;
      border: none;
      font-size: 0.65rem;
    }
  }

  /* Loading */
  .loading {
    &_wrapper {
      @include expand-content(50%);
      @include display-grid(50% 50%, 100%);
    
      &>* {
        @include self-center();
        text-align: center;
      }
    }

    &_text {
      font-size: 2rem;
      color: #000;

      @media screen and (min-width: 1024px) {
        font-size: 3rem;
      }
    }    
    &_spinner {
      pointer-events: none;
      width: 4em;
      height: 4em;
      border: 0.8em solid transparent;
      border-color: #eee;
      border-top-color: #01040f;
      border-radius: 50%;
      animation: loadingspin 1s linear infinite;
    }
  }
  
  /* Error */
  .error {
    &_wrapper {
      @include expand-content(70%);
      @include display-grid(2fr 3fr, 100%);
    
      &>* {
        @include expand-content(90%);
        @include self-center();
        text-align: center;
      }
    }
    &_img {
      fill: #9a1e1e;
    }
    &_text {
      &-header {
        @include expand-content(auto);
        color: #9a1e1e;
      }
      &-message {
        font-size: 1.5rem;
      }
    }
     
  }

  /* Header */
  .header {
    font-size: 2rem;

    @media screen and (min-width: 1024px) {
      font-size: 3rem;
    }
    
    &-wrapper {
      @include expand-content(100%);
      @include display-grid(100%, 1fr 3fr 1fr)
    }
    &_flex-center {
      @include display-flex(row, center, center);
    }
    &_filler {
      content: " ";
    }
  }

  /* Footer */
  .footer {
    &-wrapper {
      @include expand-content(100%);
      @include display-grid(100%, repeat(4, 25%));
      align-items: center;
      justify-items: center;
      align-self: flex-end;
    }
    &_filler {
      content: " ";
    }
  }
}
